@media (max-width: 425px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main_name {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
    }

    .top_text {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
    }

    .top_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content_img {
        width: 343px;
    }
}