* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(../img/Rectangle\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
  background-position: center;
}

.main_name {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  color: #FFF;
  max-width: 700px;
  margin-bottom: 15px;
  padding-top: 10rem;
}

.top_text {
  color: #FFF;
  font-family: "Montserrat";
  line-height: 1.5rem;
  margin-bottom: 40px;
  max-width: 450px;
}

.top_button {
  background: #9C0332;
  border-radius: 30px;
  border: none;
  width: 234px;
  height: 48px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
  line-height: 22px;
  transition: all 0.3s;
  box-shadow: none;
}

.top_button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #9C0332;
}

.catalog {
  background-color: #000915;
}

.catalog_content {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  row-gap: 60px;
}

.product {
  transition: all 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.content_img {
  height: 300px;
  width: 379px;
  border-radius: 20px;
  border: none;
}

.product_number {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #FFF;
  padding-left: 10%;
  margin-top: -70px;
}

.seasons {
  background-color: #000915;
}

.seasons_block {
  display: flex;
  padding-top: 234px;
  padding-bottom: 234px;
  justify-content: space-between;
  align-items: center;
}

.seasons_name {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  color: #FFF;
  max-width: 700px;
}

.seasons_name-mob {
  display: none;
}

.seasons_text {
  color: #FFF;
  font-family: "Montserrat";
  line-height: 1.5rem;
  margin-bottom: 40px;
  max-width: 580px;
  font-weight: 300;
  padding-top: 20px;
}

.seasons_logo1 {
  width: 485px;
}

.seasons-mob {
  display: none;
}

.words {
  background-color: #000915;
}

.words_block {
  display: flex;
  padding-top: 234px;
  padding-bottom: 234px;
  justify-content: space-between;
  align-items: center;
}

.words_logo1 {
  width: 485px;
}

.words_name {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  color: #FFF;
  max-width: 700px;
}

.words_text {
  color: #FFF;
  font-family: "Montserrat";
  line-height: 1.5rem;
  margin-bottom: 40px;
  max-width: 580px;
  font-weight: 300;
  padding-top: 20px;
}

@media (max-width: 425px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main_name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
  }
  .top_text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .top_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content_img {
    width: 343px;
  }
  .catalog_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seasons_name {
    display: none;
  }
  .seasons_name-mob {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: white;
  }
  .seasons_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seasons_logo1 {
    width: 343px;
  }
  .seasons_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 50px;
  }
  .seasons_text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 343px;
  }
  .seasons2_name {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: white;
  }
  .words {
    display: none;
  }
  .seasons-mob {
    display: block;
    background-color: #000915;
  }
}/*# sourceMappingURL=style.css.map */