* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(../img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    background-position: center;
}

.main_name {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    color: #FFF;
    max-width: 792px;
    margin-bottom: 15px;
    padding-top: 10rem;
}

.top_text {
    color: #FFF;
    font-family: 'Montserrat';
    line-height: 1.5rem;
    margin-bottom: 40px;
}

.top_button {
    background: #9C0332;
    border-radius: 30px;
    border: none;
    width: 234px;
    height: 48px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    line-height: 22px;
    transition: all 0.3s;
    box-shadow: none;
}

.top_button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #9C0332;
}

.catalog {
    background-color: #000915;
    height: 556px;
}

.catalog_content {
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    transition: all 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.content_img {
    height: 300px;
    width: 379px;
    border-radius: 20px;
    border: none;
}

.product_number {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    color: #FFF;
    padding-left: 10%;
    margin-top: -70px;
}

@import 'mobileVers';